  


  .contact_us {
        text-align:left;
        background-color:black ;
        color:white;
        }

        .contact_us h3 {
            font-size:36px;
            text-align:center;
            
        }
        .contact_us h3 {
            padding-top:50px;
         margin-top:0px;
         margin-bottom:0px;
        }
         
        #bb
        {
            background-color: black;
        }

  .h-30 {
    height: 30px
}

.h-10 {
    height: 10px
}

.color {
    color: #ffbf00;
    font-size: 11px;
}
